/*BODY*/

body{
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    width: 100%; 
}

/*LOGO*/

.logo-portada img{
    width: 15%;
    height: auto;
    position: relative;
    padding-top: 28%;
    z-index: 2; /* Asegura que el texto esté por encima de la capa de transparencia */
    color: #fff; /* Cambia el color del texto para que sea legible en la capa oscura */
  }

  .icono {
    padding-top: 15px;
    height: 30px;
    position: relative;
    z-index: 2;
    animation: moverIcono 1s infinite alternate;
  }
  
  @keyframes moverIcono {
    20% {
      top: 0;
    }
    100% {
      top: 20px;
    }
  }


/*HEADER*/

header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color de texto del encabezado */
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none; /* Quita las viñetas de la lista */
    display: flex; /* Muestra los elementos del menú en línea */
    padding: 0%;
}

nav li {
    margin-inline: 20px; /* Espacio entre elementos del menú */
}

nav a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Color de texto de los enlaces */
    font-weight: thin; /* Texto en negrita */
}

/* Cambiar color de enlace al pasar el mouse sobre ellos */
nav a:hover {
    color: #b69cff; /* Color al pasar el mouse */
}

/*BODY - FONDO*/

.fondo-fresia {
    position: relative;
    background-image: url(../imagenes/fresia1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
.fondo-fresia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; /* Cambiado a un valor menor */
  }

  /*INICIO*/

  .info-general{
    width: 100%; /* Establece el ancho del 80% de la ventana del navegador */
    margin-top: 50px;
  }
  .info-general .info {
    width: 50%;
    margin: 0 auto; /* Centra horizontalmente la sección */
    font-size: 16px;
    text-align: center;
  }

  /*BOTON INSTAGRAM*/

  .boton {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 60px;
    background-color: #69068d66;
    color: #ffffff;
    border: 2px solid #69068d;
    border-radius: 40px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }

  .boton:hover {
    background-color: #ffffff; /* Cambia el color de fondo al poner el mouse encima */
    color:#69068d; /* Cambia el color del texto al poner el mouse encima */
  }


  /*CARRUSEL*/

  .carousel-container {
    margin: 0 auto; /* Centra horizontalmente la sección */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Para ocultar las imágenes fuera del carrusel */
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s; /* Para una transición suave al cambiar las imágenes */
    border-radius: 20px;
  }
  
  .carousel img {
    max-width: 31.8%;
    padding: 8px; /* Espacio entre las imágenes */
    margin-top: 50px;
    margin-bottom: 30px;
    margin-inline: 5px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s;
    cursor: pointer;
    flex: 1;
    border-radius: 20px;
    }
    
    .carousel img:hover {
      filter: none;
      transform: scale(1.06);
    }

    /*BOTONES CARRUSEL */
    
    #prev, #next {
      width: 60px; /* Ancho del botón circular */
      height: 60px; /* Alto del botón circular */
      border-radius: 50%; /* Establece el borde redondeado para hacerlo circular */
      background-color: #69068d66; /* Color de fondo del botón */
      display: inline-block;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none; /* Elimina el borde */
      margin: 0 10px; /* Margen izquierdo y derecho para separar los botones */
    }
    
    #prev img, #next img {
      width: 25%; /* Ajusta el ancho del ícono al 100% del contenedor del botón */
      height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }
    
    #prev:hover, #next:hover {
      background-color: #ffffff; /* Cambia el color de fondo al poner el mouse encima */
      color: #69068d; /* Cambia el color del ícono al poner el mouse encima */
      border: 2px solid #69068d;
    }
    
.botones {
  margin-bottom: 20px;
}


/*GALERIA DE SERVICIOS*/

.conteiner-servicios {

  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  
}

.conteiner-servicios .imagen-nueva2 {
  position: relative;
  margin: 10px;
  max-width: 25%; 
  
}

.imagen-nueva2 img, .hover-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
  border-radius: 20px;
  
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.imagen-nueva2:hover img {
  transform: scale(1.03);
  
  
}

.imagen-nueva2:hover .hover-image {
  opacity: 2;
}

